body {
  background: gray;
}

.root {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.controller {
  height: 35vh;
  width: 35vh;
}

.speed-control {
  font-size: 3em;
  width: 50%;
  margin-bottom: 2em;
}
.speed-control label {
  font-size: .8em;
}
.speed-control input {
  width: 100%;
}

.controller-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
}
.controller-row > div {
  width: 12em;
  height: 12em;
  background: white;
  text-align: center;
  border: 1px solid darkolivegreen;
  border-radius: 1em;
  cursor: pointer;
}

.controller-row > div:hover {
  background: lightblue;
}
.controller-row > div:active {
  background: yellowgreen;
}

.controller-row > div > i {
  font-size: 11em;
  pointer-events: none;
}

#up-left i {
  transform: rotate(-45deg);
}
#up-right i {
  transform: rotate(45deg);
}
#down-left i {
  transform: rotate(-135deg);
}
#down-right i {
  transform: rotate(135deg);
}